.ApartmentCard {
    width: 700px;
    border: 1px solid;
    box-shadow: 0px 2px 3px gray;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    display: flex;

}

.ApartmentCard img {
    width: 300px;
}

.ApartmentCard ul {
    list-style: none;
    text-align: start;
}

.btn-container {
    margin-top: 20px;

}