.NavBar {
    background-color: rgb(206, 206, 206);
    color: #8DC63F;
    padding: 5px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.45) 0px 25px 20px -20px;
    z-index: 100;
}

.NavBar img {
    width: 57px;
    text-align: left;
}

.NavBar h1 {
    font-size: 3em;
    margin: 10px;
    margin-right: 70px;
    font-weight: 600;
    font-style: italic;
    position: relative;
    text-align: center;
    letter-spacing: 4px;
    animation: glow .5s infinite alternate;

}

@keyframes glow {
  from {
    text-shadow: 0 0 1px #8dc63f, 0 0 2px #8dc63f, 0 0 3px #8dc63f;
  }
  to {
    text-shadow: 0 0 2px #8dc63f, 0 0 3px #8dc63f, 0 0 4px #8dc63f;
  }
}
