/* #8dc63f */

img {

    width: 100%
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Dosis', sans-serif;
}

.ApartmentsList {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-left: 100px;
}

.ApartmentsList h2 {
    margin-top: 100px;
}

.ApartmentsList button {
    margin-bottom: 30px;
}

.ApartmentCard {
    width: 700px;
    border: 1px solid;
    box-shadow: 2px 3px 5px gray;
    text-align: center;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 4px;
    display: flex;

}

.ApartmentCard:hover {
    box-shadow: 4px 6px 10px #8dc63f;

}

.ApartmentCard img {
    width: 300px;
}

.ApartmentCard h3 {
    width: 340px;
}

.ApartmentCard ul {
    list-style: none;
    text-align: start;
}

.btn-container {
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.delete-btn {
    width: 90px;
    margin: 0;
    height: 40px;
    box-shadow: 2px 3px 5px gray;
}

.details-btn {
    width: 90px;
    margin: 0;
    eight: 40px;
    box-shadow: 2px 3px 5px gray;
}

.edit-btn {
    width: 90px;
    margin: 0;
    height: 40px;
    box-shadow: 2px 3px 5px gray;
}



.AboutPage {
    display: flex;
    justify-content: center;
    position: absolute;
    flex-direction: column;
    margin: 200px 250px;

}

.NotFound img {
    margin: 70.5px 0 0 210px;
}

.details {
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    margin: 200px 0 30px 300px;
    position: absolute;
}

.form {
    margin-top: 70.5px;
    margin-left: 210px;

}

.form label {
    margin: 20px;

}